<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.gsitm.meeting.mappers.departmentHeadMapper">

<select id="departmentHeadList" resultType="departmentHead">
	select emp_id empId, dept_id deptId
	from departmentHead
</select>

<select id="departmentHeadOne" resultType="departmentHead">
	select emp_id empId, dept_id deptId
	from departmentHead
	where emp_id=#{empId}
</select>

<insert id="departmentHeadInsert">
	insert into departmentHead (emp_id, dept_id)
	values (#{empId}, #{deptId})
</insert>

<update id="departmentHeadUpdate">
	update departmentHead
	set dept_id=#{deptId}
	where emp_id=#{empId}
</update>

<delete id="departmentHeadDelete">
	delete departmentHead
	where emp_id=#{empId}
</delete>

</mapper>