<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.gsitm.meeting.mappers.departmentMapper">

	<select id="departmentList" resultType="department">
		select dept_id deptId, dept_name deptName, dept_cost deptCost, br_id brId from department
	</select>
	
	<select id="departmentOne" resultType="department">
		select dept_id deptId, dept_name deptName, dept_cost deptCost, br_id brId
		from department
		where dept_id = #{deptId}
	</select>
	
	<insert id="departmentInsert">
		insert into department (dept_id, dept_name, dept_cost, br_id)
		values (#{deptId}, #{deptName}, #{deptCost},#{brId})
	</insert>
	
	<update id="departmentUpdate">
		update department
		set dept_name=#{deptName}, dept_cost=#{deptCost}, br_id=#{brId}
		where dept_id=#{deptId}
	</update>
	
	<delete id="departmentDelete">
		delete department
		where dept_id=#{deptId}
	</delete>
	
</mapper>