<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.gsitm.meeting.mappers.noticeMapper">
	
	<select id="noticeList" resultType="notice">
		select notice_id noticeId, notice_title noticeTitle, notice_content noticeContent, 
		notice_writer noticeWriter, notice_date noticeDate from notice
	</select>
	
	<select id="noticeRead" resultType="notice">
		select notice_id noticeId, notice_title noticeTitle, notice_content noticeContent, 
		notice_writer noticeWriter, notice_date noticeDate from notice where notice_id = #{noticeId}
	</select>
	
	<insert id="noticeInsert">
		insert into notice values( #{noticeId}, #{noticeTitle}, #{noticeContent}, #{noticeWriter}, sysdate)
	</insert>
	
	<delete id="noticeDelete">
		delete notice where notice_id = #{noticeId}
	</delete>
	
	<update id="noticeUpdate">
		update notice set notice_title = #{noticeTitle}, notice_content = #{noticeContent} where notice_id = #{noticeId}
	</update>
</mapper>